mat-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-form-field {
  max-width: 90%;
}

mat-hint {
  color: blue;
}

::ng-deep .mat-form-field-wrapper {
  min-width: 90%;
}

::ng-deep .mat-form-field-infix {
  border-top: none !important;
}

.dados {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btnSalvar {
  min-width: 100%;
}
